.grid-container {
    display: grid;
    grid-template-columns: 26.5rem 1fr;
    grid-template-rows: 2.2rem 4rem 1fr;
    background: var(--bg-main);
    height: 100%;

}

.tab-container {
    grid-column: 1/-1;
    display: flex;
    align-items: end;
    gap: 1.3rem;
    border-bottom: 1px solid var(--border-color);
}

.tab-btn {
    font-size: 1.4rem;
    color: var(--text-toolbar);
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.active-tab-btn {
    border-bottom: 1px solid var(--filter-active-color);
    color: var(--text-dark);
}

.tab-btn img {
    height: 1.2rem;
    /* width: 0.267rem; */
    object-fit: cover;
}



/***********  ToolBar *************/



.toolbar-container {
    grid-column: 1/-1;
    padding: 1rem 2rem;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    border-bottom: 3px solid var(--border-color);
}

.toolbar-btn {
    width: fit-content;
    font-size: 1.4rem;
    gap: 0.7rem;
    display: flex;
    /* align-items: center; */
    color: var(--text-toolbar);
}

.toolbar-btn p {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.date-range {
    color: var(--text-toolbar);
}


.date-apply-btn {
    background-color: var(--btn-bg-color);
    color: var(--text-light);
    border-radius: 5px;
    padding: 0.5rem 1rem !important;
}

.date-cancel-btn {
    background-color: var(--text-light-2);
    color: var(--text-dark);
    border-radius: 5px;
    padding: 0.5rem 1rem !important;
}

.date-apply-btn:hover {
    color: var(--text-light);
}

.date-cancel-btn:hover {
    color: var(--text-dark);
}



/********* Filter Container *************/


.filter-container {
    display: flex;
    gap: 1rem 0;
    flex-direction: column;
    border-right: 3px solid var(--border-color);
}


.filter-title {
    display: flex;
    margin-top: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.filter-title h2 {
    font-size: 1.8rem;
}

.ec-today {
    background-color: transparent !important;
}

.ec-highlight {
    background-color: #f0f8ff !important;
}


.filter-action {
    display: flex;
    justify-content: space-between;
}

.filter-action .action-btn {
    font-size: 1rem;
    color: var(--text-toolbar);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.action-btn:first-child img {
    transform: rotate(5deg);
}


.filter:last-child {
    margin-top: 1rem;
}

.filter-label {
    font-size: 1.4rem;
    width: 100%;
}



.custom-dropdown {
    position: relative;
    width: 100%;
    font-size: 1.4rem;
}

.custom-dropdown:last-child {
    margin-top: 1rem;
}

.dropdown-selected {
    padding: 0.9rem;
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
    color: var(--text-light-1);
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    margin-top: 0.5rem;
    position: relative;
}

.dropdown-selected img {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}


.dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
    border-top: none;
    display: none;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 0.2rem;
}

.dropdown-option {
    padding: 0.9rem;
    cursor: pointer;
    color: var(--text-light-1);
    background-color: var(--bg-main);
    border-bottom: 1px solid var(--border-color);
}

.dropdown-option:hover,
.dropdown-option:focus {
    background-color: var(--filter-active-color);
    color: var(--bg-main);
}

/* Show dropdown when active */
.custom-dropdown.open .dropdown-options {
    display: block;
}

select:focus>option:hover {
    background: #000 !important;
}


/***  Hide Filter Container ***/
.hide-filter {
    grid-template-columns: 1fr;
}

.hide-filter .filter-container {
    display: none;
}


/************  Resource-Calendar *************/


.ec-holder {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.ec-container {
    width: 100%;
}


/***** Fitting Serach Container at .ec-sidebar-title  *****/

.ec-header>.ec-days>.ec-day {
    margin-top: 0.8rem !important;
}

.ec-toolbar {
    display: none;
}

.ec-sidebar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: var(--text-dark) !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    border-bottom: 3px solid var(--border-color) !important;
}

.search-container {
    width: 67% !important;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 1px solid var(--border-color);
}

.search-input,
.sort-btn {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.sort-btn {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    padding: 0.5rem;
}

.sort-btn img {
    height: 2.4rem;
    width: 2.4rem;
}


/***** Resource Styling *****/

.ec-timeline .ec-sidebar .ec-resource span {
    padding-top: 0;
}

.person-details {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 7.8rem;
    display: flex;
    align-items: center;
    padding-left: 2rem !important;

}

.profile-img {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.profile-img img {
    width: 3.7rem;
    height: 3.7rem;
    object-fit: cover;
    padding: 0;
}

.person-info h5 {
    font-size: 1.4rem;
    font-weight: 400;
}


.person-info p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: var(--text-light-2);
}

/* ========================================================
   Resetting Layout for Core Calendar Elements
   ======================================================== */
.ec-body,
.ec-sidebar,
.ec-header,
.ec-times,
.ec-time,
.ec-resource,
.ec-day-head,
.ec-days {
    border: none !important;
    box-sizing: content-box !important;
}

/* ========================================================
   Prevent Resources from Being Compressed Horizontally
   ======================================================== */
.ec-resource,
.ec-resource>span,
.ec-resource>span>.person-details {
    width: 249px !important;
}
.ec-resource{
    display: flex;
    align-items: center;
}

/* ========================================================
   Timeline Column Width (Time Labels & Lines)
   ======================================================== */
.ec-timeline .ec-time,
.ec-timeline .ec-line {
    width: 249px !important;
}

.ec-times .ec-time,
.ec-header .ec-day-head {
    font-size: 1.4rem;
}

.ec-times .ec-time {
    color: var(--text-toolbar);
}

.ec-day-head {
    font-weight: 500 !important;
}



/* ========================================================
   RESPONSIBILITY COMMENTS FOR KEY COMPONENTS
   ======================================================== */
/*
  - .ec-days         → Responsible for vertical separation between days
  - .ec-resource     → Adds border between resources (horizontal lines)
  - .ec-time         → Separates time notations
  - .ec-times        → Separation above time notations
  - .ec-line::after  → Adds vertical dashed lines (ec-line is the parent)
*/

/* Right dashed line between resources */

.ec-timeline .ec-sidebar .ec-resource {
    height: 8rem;
    border-right: 3px dashed var(--border-color) !important;
    border-bottom: 3px solid var(--border-color) !important;
}

/**** Fix For Last Child Resources ****/
.ec-resource:last-child .person-details {
    position: relative;
}

.ec-resource:last-child .person-details::after {
    content: "";
    position: absolute !important;
    bottom: -3px;
    height: 3px;
    width: 100%;
    border-bottom: 3px solid var(--border-color);
}


/***** Vertical Sepration lines (Dahsed) *****/
.ec-line::after {
    border-left: 3px dashed var(--border-color) !important;
}

/**** Sepraiton line Between Days in Header *****/

.ec-header .ec-days {
    position: relative;
    border-bottom: 3px solid var(--border-color) !important;
}

.ec-header .ec-days .ec-day:not(:first-child)::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 3px dashed var(--border-color);
}

.ec-sidebar-title {
    border-right: 3px dashed var(--border-color) !important;
}

/* ========================================================
   Canvas Body: Horizontal Separation Between Day Rows
   ======================================================== */

/***** Horizontal Sepration Line in canvas *****/
.ec-body .ec-days {
    border-bottom: 3px dashed var(--border-color) !important;
}


/***** Last Line Under Event *****/
.ec-days:last-child {
    border-bottom: 3px solid var(--border-color) !important;
}

/**** Fix For Last line in case of 1 or 2 Elements ****/
.ec-days:last-child .ec-day {
    box-sizing: content-box;
    margin-bottom: 3px !important;
    border-bottom: 3px dashed var(--border-color) !important;
}

/***** Calendar BG Color *****/
.ec-today {
    background-color: transparent !important;
    flex-basis: 0 !important;
}

.ec-time-grid .ec-time,
.ec-time-grid .ec-line,
.ec-events,
.ec-resource {
    min-height: 8rem;
}


/* ========================================================
                        Timeline Stylings
   ======================================================== */

/***** Genral Timeline Style  *****/
.ec-event {
    height: 8rem;
}

.event-disp-container {
    position: relative;
    width: 100%;
    /* z-index: 0 !important; */
}

.event-disp {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    padding: 0.3rem 1rem;
    font-weight: 600;
}

.event-emp-id {
    margin-right: 2rem;
}


/***** Top Right Triangle ****/

.ec-event::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 13px;
}

/**** Bottom Right Icon ****/
.event-disp-icon {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 1rem;
    cursor: pointer;
    padding: 0 0.5rem 0 0;
}





/***** Tooltip  Hover Details Container *****/

.tooltip.custom-tooltip .tooltip-inner {
    background-color: #ffffff !important;
    color: #000000 !important;
    width: 23rem;
    padding: 0.1rem 0.2rem 1rem 1.4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.event-desc-id {
    font-size: 1.4rem;
    font-weight: 600;
}

.custom-tooltip-content>p:nth-child(2) {
    color: var(--text-light-1);
}

/* Grid styling */
.custom-tooltip-content .event-desc-grid {
    margin-top: 0.2rem;
    font-size: 1rem;
    display: grid;
    column-gap: 0.1rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
}

.event-desc-grid p:nth-child(odd) {
    color: var(--text-dark);
    font-weight: 700;
    grid-column: 1/3;
}

.event-desc-grid p:nth-child(even) {
    grid-column: 3/6;
}


/* ========================================================
                        Timeline Vartiations
   ======================================================== */


/*****  Active Timeline (Blue) *****/
.ec-event-active {
    background-color: var(--timeline-bg) !important;
    border-left: 3px solid var(--timeline-text);
    color: var(--timeline-text);
}

.ec-event-active::after {
    background: linear-gradient(to top right, transparent 50%, var(--timeline-text) 50%);
}

/**** Add Background Color To Event Holder ****/

/* .ec-events:has(.ec-event-active) {
      background-color: #c2ddff9d !important;
} */





/*****  Active Timeline (Yellow) *****/
.ec-event-yellow {
    background-color: var(--timeline-yellow-bg) !important;
    border-left: 3px solid var(--timeline-yellow-text);
    color: var(--timeline-yellow-text);
}

.ec-event-yellow::after {
    background: linear-gradient(to top right, transparent 50%, var(--timeline-yellow-text) 50%);
}

/**** Add Background Color To Event Holder ****/

.ec-events:has(.ec-event-yellow) {
    background-color: var(--timeline-container-yellow-bg) !important;
}






/*****  Active Timeline (Pink) *****/
.ec-event-pink {
    background-color: var(--timeline-pink-bg) !important;
    border-left: 3px solid var(--timeline-pink-text);
    color: var(--timeline-pink-text);
}

.ec-event-pink::after {
    background: linear-gradient(to top right, transparent 50%, var(--timeline-pink-text) 50%);
}

.ec-event-gray::after {
    background: linear-gradient(to top right, transparent 50%, var(--timeline-gray-text) 50%);
}

/**** Add Background Color To Event Holder ****/

.ec-events:has(.ec-event-pink) {
    background-color: var(--timeline-container-pink-bg) !important;
}




/*****  Active Timeline (Gray) *****/
.ec-event-gray {
    background-color: var(--timeline-gray-bg) !important;
    border-left: 3px solid var(--timeline-gray-text);
    color: var(--timeline-gray-text);
}

/**** Add Background Color To Event Holder ****/

.ec-events:has(.ec-event-gray) {
    background-color: var(--timeline-container-gray-bg) !important;
}